[submodule "nuttx/nuttx"]
	path = nuttx/nuttx
	url = https://bitbucket.org/nuttx/nuttx
[submodule "nuttx/apps"]
	path = nuttx/apps
	url = https://bitbucket.org/nuttx/apps
[submodule "src/STM32Cube_FW_F1"]
	path = src/STM32Cube_FW_F1
	url = git@github.com:Kamilcuk/STM32Cube_FW_F1
	branch = Cfiles_only
